@charset "utf-8";

#header {
    background-image: url("http://jos.gluweb.nl/lessen/web/blue.png");
    height: 150px;
    background-repeat: no-repeat;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    color:#ffffff;
    font-size: 25px;
    font-family:'arial';
    line-height: 150px;
}

#content{
    background-image: url("https://static.wikia.nocookie.net/fireemblem/images/a/aa/Lorentz_Portrait.png");
    height: 300px;
    background-repeat: repeat-x;
    font-family:'wingdings';
    color: #ff0000;
    font-size: 15px;
}

#footer {
    background-image: url(https://w7.pngwing.com/pngs/129/807/png-transparent-capitata-group-raw-foodism-chinese-cabbage-vegetable-cabbage-soup-diet-vegetable-leaf-vegetable-food-recipe-thumbnail.png);
    height: 200px;
    color: #ff69b4;
    font-size: 30px;
}